/* ------------------ header  --------------------- */
header
{
  background-color: #579c87;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.5em;
  text-align: center;
  width: 50%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

a
{
  text-decoration: none;
}
header, a
{
   color: #fdcb46;
}
/*------------------- body ------------------*/
body
{
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100%;
  padding-bottom: 5em;
}
.menu{
  width:50%;
  margin:auto;
 }
section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.h2menu{
  font-size: 3em;
  text-align: center;
}
.presentationfont{
  font-family: 'Kalam', cursive;
}
.degrade, .fab.fa-itunes-note{  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.degrademenu2
{
  background-image: -webkit-linear-gradient(left, orange, purple);
}
.degrademenu3
{
  background-image: -webkit-linear-gradient(left, blue, cyan);
}
.degrademenu4
{
  background-image: -webkit-linear-gradient(left, green, greenyellow);
}
div
{
  margin:0.5em;
}
h3{
  text-align: center;
  font-size: 2em;
}
.blocmenu
{
  font-size: 1.4em;
}

.blocmenu__plat
{
  width:100%;
}
.plat--texte
{
  float: left;
  width:80%;
}
.plat--prix
{
  font-weight: bold;
  float: right;
  width:10%;
  text-align: right;
  margin-right: 1em;
}

/* ------------- soulignement ------------------*/
.underline--1
{
  background:linear-gradient(to top, rgba(61, 19, 25, 0.5) 0%, rgba(50, 28, 31,0.5) 3px, transparent 3px) no-repeat;
}
.underline--21{
  background:linear-gradient(to top, rgba(198, 116, 18, 0.5) 0%, rgba(212, 118, 7,0.5) 3px, transparent 3px) no-repeat;
}
.underline--22{
  background:linear-gradient(to top, rgba(165, 103, 153, 0.5) 0%, rgba(144, 58, 127,0.5) 3px, transparent 3px) no-repeat;
}
.underline--23{
  background:linear-gradient(to top, rgba(110, 76, 204, 0.5) 0%, rgba(43, 15, 120,0.5) 3px, transparent 3px) no-repeat;
}

.h3__underline
{
  background-size:0 100%;
  transition:background-size .4s;
}
.h3__underline:hover
{
  background-size: 100% 100%;
}
/* ------ shake shake shake! shake your milkshake! ----- */
.btn:hover
{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate(0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake
{
  10%, 90%
  {
    transform: translate(-1px, 0);
  }

  20%, 80%
  {
    transform: translate(2px, 0);
  }

  30%, 50%, 70%
  {
    transform: translate(-4px, 0);
  }

  40%, 60%
  {
    transform: translate(4px, 0);
  }
}
/* ------------------ & footer -------------- */
footer
{
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  background-color: #579c87;
  font-family: 'Noto Sans TC', sans-serif;
  width: 49.3%;
  margin-left: 24.9%;
  font-size: 1.4em;
  padding-left: 1rem;
  padding-right: 2rem;
}
.legale{
  margin-left: 0%;
  width: 46.3%
}
.footer__mention
{
  text-align: start;
  padding-left: 1rem;
}

.footer__contact
{
  display: inline;
}
