footer
{
  width: 46.3%;
  margin-left: 24.9%;
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 1.5em;
	margin-bottom: 1.8em;
}

div
{
	margin:0.5em;
}

#menu2
{
	background-color: rgb(255,245, 254);
	width:50%;
	margin:auto;
	padding-top: 1.5em;
	font-family: 'Noto Sans TC', sans-serif;
	color: rgb(61, 19, 25);
	margin-bottom: 6em;
}

#notemenu2
{
	border-radius: 0;
}

#h2menu2
{
	font-size: 4em;
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left, orange, purple);
}

.h3menu2
{
	text-align: center;
	font-size: 2em;
}

.prix
{
	font-weight: bold;
	margin-right: 1rem;
}

.logofin
{
	flex-direction: row;
	justify-content: center;
	margin-bottom: 4.5em;
}

.blocmenu2
{
	display:inline;
	font-size:1.8rem;
}

.plat--texte
{
	float: left;
	width:80%;
}

.plat--prix
{
	font-weight: bold;
	float: right;
	width:10%;
	text-align: right;
}

.blocmenu1__plat
{
	width:100%;
	font-size: 1.7em;
}

/* ------------ Couleurs police ----------------- */
.color1
{
	color: rgb(198, 116, 18);
}

.color2
{
	color: rgb(165, 103, 153);
}

.color3
{
	color: rgb(110, 76, 204);
}

/* --------------- Frise ------------------------------- */
.h3menu2__hr
{
	width:5em;
}

.hr--reverse
{
	transform: rotate(180deg);
	transform-origin: 52% 58%;
}

.hr--orange
{
	background:rgb(197, 117, 41);
}

.hr--purple
{
	background: rgb(165, 103, 153);
}

.hr--blue
{
	background: rgb(110, 76, 204);
}

/* ----------------- soulignement ------------------------*/
.h3menu2__underline
{
	background:linear-gradient(to top, rgba(61, 19, 25, 0.5) 0%, rgba(61, 19, 25,0.5) 3px, transparent 3px) no-repeat;
	background-size:0 100%;
	transition:background-size .4s;
}

.h3menu2__underline:hover
{
	background-size: 100% 100%;
}

/* ------ responsive petit écran ----- */
@media(max-width:1023px)
{
	header
	{
		width:80%;
		font-size: 2em;
	}

	footer
	{
		margin-top: 5em;
		width:75.8%;
		margin-left:3em;
		font-size: 2em;
	}

	#menu2
	{
		width:80%;
		margin:auto;
		padding-top: 1.5em;
		font-family: 'Satisfy', cursive;
		color: rgb(61, 19, 25);
		margin-bottom: 7em;
	}

	.h3menu2
	{
		font-size: 2.5em;
	}

	.h3menu2__hr
	{
		width:18%;
	}

	.h3menu2__hr.hr--reverse
	{
		width:18%;
	}

	#h2menu2, h2
	{
		font-size: 3em;
	}

	.blocmenu2
	{
		display:inline;
		font-size:2.2rem;
	}

	.plat--texte
	{
		float: left;
		width:80%;
	}

	.plat--prix
	{
		font-weight: bold;
		float: right;
		width:10%;
		text-align: right;
	}

	.blocmenu1__plat
	{
		width:100%;
		font-size: 1.7em;
	}
}

/* ------ responsive grand écran ----- */
@media(min-width:1980px)
{
	#menu2
	{
		width:80%;
		margin-bottom: 15em;
	}

	.logodebut
	{
		font-size: 15em;
	}

	#h2menu2
	{
		font-size: 13em;
	}

	.h3menu2
	{
		font-size: 6em;
	}

	.plat--texte, .plat--prix
	{
		font-size: 3.5em;
	}

	.blocmenu1__dessert
	{
		font-size: 0.8rem;
		margin-left: 4em;
	}

	header
	{
		width:80%;
		font-size: 4em;
	}

	footer
	{
		margin-top: 5em;
		width:78.8%;
		margin-left:6em;
		font-size: 4em;
	}
}
