/* ---------------- header & footer ------------------------------ */
header
{
	background-color: rgb(87, 156, 135);
	color: rgb(253, 203, 70);
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.5em;
	text-align: center;
	width:50%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-left: auto;
	margin-right: auto;
}

footer
{
	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
	background-color: rgb(87, 156, 135);
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.4em;
	width:47.3%;
	padding-left: 1rem;
	padding-right: 1rem;
}

a
{
	text-decoration: none;
	color: rgb(253, 203, 70);
}

.footer__mention
{
	text-align: start;
}

.footer__contact
{
	display: inline;
}

/* ------ shake shake shake! shake your milkshake! ----- */
.btn:hover
{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake
{
	10%, 90%
	{
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80%
	{
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70%
	{
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60%
	{
		transform: translate3d(4px, 0, 0);
	}
}

/*------------------------ page -----------------------------*/
main
{
	width: 50%;
	height: 100%;
	position: relative;
	margin:auto;
	margin-bottom: 6em;
}
