footer
{
  width: 46.3%;
  margin-left: 24.9%;
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 1.3em;
	margin-left:-2em;
}

div
{
	margin:0.5em;
}

#menu4
{
	width:50%;
	margin:auto;
	padding-top: 1.5em;
	font-family: 'Satisfy', cursive;
	color: rgb(61, 19, 25);
	margin-bottom: 5em;
}

.blocmenu4
{
	justify-content: space-between;
	font-size: 1.3em;
}

#h2menu4
{
	font-size: 4em;
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left, green, greenyellow);
}

.h3menu4
{
	text-align: center;
	font-size: 2em;
}

.h3menu4__reverse
{
	transform: rotateY(3.142rad);
}

.h3menu4__underline
{
	background:linear-gradient(to top, rgba(4, 95, 8, 0.5) 0%, rgba(1, 223, 12,0.5) 3px, transparent 3px) no-repeat;
	background-size:0 100%;
	transition:background-size .4s;
}

.h3menu4__underline:hover
{
	background-size: 100% 100%;
}

.plat--texte
{
	float: left;
	width:80%;
}

.plat--prix
{
	font-weight: bold;
	margin-right: 1em;
	float: right;
	width:10%;
	text-align: right;
}

.logofin
{
	flex-direction: row;
	justify-content: center;
	margin-bottom: 4.5em;
}

/* ------ responsive petit écran ----- */
@media(max-width:1023px)
{
	header
	{
		width:80%;
		font-size: 2em;
	}

	footer
	{
		margin-top: 5em;
		width:75.8%;
		margin-left:3em;
		font-size: 2em;
	}

	#menu4
	{
		width:80%;
		margin:auto;
		padding-top: 1.5em;
		font-family: 'Satisfy', cursive;
		color: rgb(61, 19, 25);
		margin-bottom: 7em;
	}

	.h2menu4
	{
		font-size: 3.5em;
	}

	.h3menu4
	{
		font-size: 2.5em;
	}

	.h3menu4__hr
	{
		width:18%;
	}

	.h3menu4__hr.hr--reverse
	{
		width:18%;
	}

	#h2menu4
	{
		font-size: 4em;
	}

	.blocmenu4
	{
		display:inline;
	}

	.plat--texte
	{
		float: left;
		width:60%;
		font-size:2.5rem;
	}

	.plat--prix
	{
		font-weight: bold;
		float: right;
		width:10%;
		text-align: right;
		font-size:2.3rem;
	}

	.blocmenu1__plat
	{
		width:100%;
		font-size: 1.7em;
	}
}

/* ------ responsive grand écran ----- */
@media(min-width:1980px)
{
	#menu4
	{
		width:80%;
		margin-bottom: 14em;
	}

	.logodebut
	{
		font-size: 15em;
	}

	#h2menu4
	{
		font-size: 13em;
	}

	.h3menu4
	{
		font-size: 6em;
	}

	.hrmenu4
	{
		width:5em;
	}

	.hrmenu4__reverse
	{
		width:5em;
	}

	.plat--texte, .plat--prix
	{
		font-size: 3.5em;
	}

	.blocmenu1__dessert
	{
		font-size: 0.8rem;
		margin-left: 4em;
	}

	header
	{
		width:80%;
		font-size: 4em;
	}

	footer
	{
		margin-top: 5em;
		width:78.8%;
		margin-left:6em;
		font-size: 4em;
	}
}
