
/* ---------------- header & footer ------------------------------ */
header
{
	background-color: rgb(87, 156, 135);
	color: rgb(253, 203, 70);
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.5em;
	text-align: center;
	width:50%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-left: auto;
	margin-right: auto;
}

footer
{
	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
	background-color: rgb(87, 156, 135);
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.4em;
	width:47.3%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 24.9%;
}

a
{
	text-decoration: none;
	color: rgb(253, 203, 70);
}

.footer__mention
{
	text-align: start;
}

.footer__contact
{
	display: inline;
}

/* ------ shake shake shake! shake your milkshake! ----- */
.btn:hover
{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake
{
	10%, 90%
	{
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80%
	{
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70%
	{
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60%
	{
		transform: translate3d(4px, 0, 0);
	}
}

/* ------------- menu1 ----------------- */
#menu1
{
	background-color: rgb(252,223, 219);
	width:50%;
	margin:auto;
	padding-top: 1.5em;
	font-family: 'Satisfy', cursive;
	color: rgb(61, 19, 25);
	margin-bottom: 5em;
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.5em;
}

div
{
	margin:0.5em;
}

.logodebut
{
	font-size: 5em;
}

.blocmenu1
{
	font-size: 0.8em;
}

#h2menu1
{
	font-size: 3em;
}

.h3menu1
{
	text-align: center;
	font-size: 2em;
}

.hrmenu1
{
	width:30%;
	padding-right: 1rem;
}

.h3menu1__underline
{
	background:linear-gradient(to top, rgba(61, 19, 25, 0.5) 0%, rgba(61, 19, 25,0.5) 3px, transparent 3px) no-repeat;
	background-size:0 100%;
	transition:background-size .4s;
}

.h3menu1__underline:hover
{
	background-size: 100% 100%;
}

.prix
{
	font-weight: bold;
}

.fab.fa-itunes-note
{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left, indianred, lightcoral, orange);
	padding-right: 3rem;
	margin-bottom: 3rem;
}

.plat--texte
{
	float: left;
	width:80%;
}

.plat--prix
{
	font-weight: bold;
	float: right;
	width:10%;
	text-align: right;
}

.blocmenu1__plat
{
	width:100%;
	font-size: 1.7em;
}

/* ------ responsive ----- */
@media(max-width:1023px)
{
	header
	{
		width:80%;
		font-size: 2em;
	}

	footer
	{
		margin-top: 5em;
		width:75.8%;
		margin-left:3em;
		font-size: 2em;
	}

	#menu1
	{
		width:80%;
		margin:auto;
		padding-top: 1.5em;
		font-family: 'Satisfy', cursive;
		color: rgb(61, 19, 25);
		font-size: 2em;
	}

	.logodebut
	{
		font-size:4em;
	}

	#h2menu1, h2
	{
		font-size: 2.5em;
	}

	.h3menu1
	{
		font-size: 1.4em;
	}

	.hrmenu1
	{
		width:20%;
	}

	.blocmenu1__plat
	{
		width:70%;
		font-size: 1.7em;
	}

	.plat--texte
	{
		width:90%;
	}

	.plat--prix
	{
		font-weight: bold;
		margin-right: -3em;
	}

	.blocmenu1__dessert
	{
		width: 114%;
		font-size: 1.6rem;
	}
}

/* ------ responsive grand écran ----- */
@media(min-width:1980px)
{
	#menu1
	{
		width:80%;
	}

	.logodebut
	{
		font-size: 15em;
	}

	#h2menu1
	{
		font-size: 13em;
	}

	.h3menu1
	{
		font-size: 6em;
	}

	.plat--texte, .plat--prix
	{
		font-size: 3.5em;
	}

	.blocmenu1__dessert
	{
		font-size: 0.8rem;
		margin-left: 4em;
	}

	header
	{
		width:80%;
		font-size: 4em;
	}

	footer
	{
		margin-top: 5em;
		width:78.8%;
		margin-left:6em;
		font-size: 4em;
	}
}
